<body>
	<a href="/new">+ New Post</a>
	<ul>
		{{range .Posts}}
		<li>
			<a href="/post/{{.Slug}}">{{.Title}}</a> |
			<a href="/edit/{{.Slug}}">Edit</a> |
			<a href="/delete/{{.Slug}}" onclick="return confirm('y or n');">Delete</a>
		</li>
		{{end}}
	</ul>
	 <div class="pagination">
        {{if gt .Page 1}}
            <a href="/dashboard?page={{sub .Page 1}}">Prev</a>
        {{end}}

        <span>{{.Page}}</span>

        {{if eq (len .Posts) 5}}
            <a href="/dashboard?page={{add .Page 1}}">Next</a>
        {{end}}
    </div>

</body>
