<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>dashboard</title>
</head>
<header>
	<h2>novm dashboard</h2>
	<ul>
		<li><a href="/logout">logout</a></li>
	</ul>
</header>
<body>
	<a href="/new">+ New Post</a>
	<ul>
		{{range .}}
		<li>
			<a href="/post/{{.Slug}}">{{.Title}}</a> |
			<a href="/edit/{{.Slug}}">Edit</a> |
			<a href="/delete/{{.Slug}}">Delete</a>
		</li>
		{{end}}
	</ul>
</body>
</html>

