<html>
  <head>
    <title>novm's register page</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	  <div class="login-container">
		  <h1><a href="/">novm</a></h1>
		  <h2>register</h2>
		  <form action="/register" method="POST">
			  <label for="username">Username:</label>
			  <input type="text" id="username" name="username" required><br>

			  <label for="password">Password:</label>
			  <input type="password" id="password" name="password" required><br>

			  <button type="submit">Register</button>
		  </form>
	  </div>
  </body>
</html>

